#navigation #menu {
    transition: all 0.2s ease-out;
    @apply bg-white;
    @apply absolute;
    @apply text-gray-500;
}

#navigation.closed #menu {
    transform: translateX(-300px);
    opacity: 0;
}

#navigation #navigation.open #menu {
    transform: translateX(0);
    opacity: 1;
}

#navigation #menu ul.main-menu {
    box-shadow: 0 15px 25px 2px rgba(0,0,0,0.10), 0 5px 30px 5px rgba(0,0,0,0.1), 0 8px 10px -5px rgba(0,0,0,0.2);
    position: relative;
    z-index: 2;
} 

#navigation #menu ul li {
    background: #fff;
    position: relative;
}

#navigation #menu ul li a {
    padding: 18px 25px;
    width: 200px;
    display: inline-block;
    box-shadow: 0 1px 0 #ECEFF3 inset;
}

#navigation #menu ul li:hover > a, #navigation #menu ul li > a:focus {
    color: #3260B1;
    background: rgba(50,96,177,0.05);
    outline: none;
}

#navigation #menu ul li:hover > .submenu {
    display: block;
    opacity: 1;
}

#navigation .submenu {
    display: none;
}

#navigation .facebook-link {
    position: relative;
}

#navigation .facebook-link img {
    position: absolute;
    right: 18px;
    top: 18px;
}

#navigation #menu ul li.has-submenu:after {
    content: '>';
    top: 0;
    position: absolute;
    right: 0;
    font-family: 'Material Icons';
    @apply text-gray-500;
    font-size: 12px;
    font-weight: 600;
    top: 22px;
    right: 18px;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
    opacity: 0.5;
}

#navigation .submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: -1;
    box-shadow: 0 15px 25px 2px rgba(0,0,0,0.10), 0 5px 30px 5px rgba(0,0,0,0.1), 0 8px 10px -5px rgba(0,0,0,0.20);
    animation: .25s showSubmenu;
    transform-origin: top left;
}

#navigation .submenu li {
    box-shadow: 1px 0 0px #e4e4e4 inset, 1px 0 0px #d3d3d3;
}

@-webkit-keyframes showSubmenu {
	from {
		-webkit-transform: scale(0.9) translateY(-20px);
		transform: scale(0.9) translateY(-20px);
		opacity: 0
	}
}

@keyframes showSubmenu {
	from {
		-webkit-transform: scale(0.9) translateY(-20px);
		transform: scale(0.9) translateY(-20px);
		opacity: 0
	}
}