{
    "parser": "babel-eslint",

    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },

    "extends": [
        "airbnb",
        "plugin:prettier/recommended",
        "prettier/flowtype",
        "prettier/react",
        "prettier/standard"
    ],

    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },

    "plugins": ["react"],

    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "no-tabs": "off",
        "indent": "off",
        "no-console": "off",
        "jsx-a11y/label-has-associated-control": [ "error", {
            "required": {
              "some": [ "nesting", "id"  ]
            }
          }],
          "jsx-a11y/label-has-for": [ "error", {
            "required": {
              "some": [ "nesting", "id"  ]
            }
        }]
    }
  }