# Logs
logs
*.log
npm-debug.log*

# Build files of content
# run "npm run dev", "npm run build" to create build directory
content/build

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
.next

#VScode files
*.code-workspace