.body-content {
    @apply text-xl;
    @apply text-gray-700;
    @apply leading-loose
}

.body-content h1, h2, h3, h4 {
    @apply leading-snug;
}

.body-content strong, .body-content b {
    @apply font-semibold;
}

.body-content h1 {
    @apply font-normal;
    @apply text-5xl;
    @apply normal-case;
}

.body-content h2, h3 {
    @apply font-semibold;
    @apply text-gray-900;
    @apply text-4xl;
    @apply normal-case;
    @apply pb-4;
}

.body-content img {
    @apply mx-auto;
}

.body-content h3 {
    @apply text-3xl;
}

.body-content p, .body-content ul, .body-content ol {
    @apply mb-8;
}

.body-content ul, .body-content ol {
    @apply pl-6;
}

.body-content ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

.body-content ul li, .body-content ol li {
    @apply pl-8;
    @apply pb-2;
    position: relative;
}

.body-content ol li {
    counter-increment: my-awesome-counter;
}

.body-content ul li:before {
    position: absolute;
    @apply text-3xl;
    content: "\2022";
    left: 0;
    top: -10px;
    @apply text-red-500; 
    display: inline-block;
    @apply w-6
}

.body-content ol li:before {
    content: counter(my-awesome-counter) ". ";
    left: 0;
    top: 1px;
    position: absolute;
    @apply font-semibold;
    @apply text-xl;
    @apply text-red-500; 
    display: inline-block;
    @apply w-6
}

.body-content a {
    @apply text-red-500;
    @apply underline;
}

.body-content a:hover {
    text-decoration: none;
}
