@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* Custom components */
@import "./components/nav/Hamburger.css";
@import "./components/nav/MobileNav.css";
@import "./components/nav/FullPageNav.css";
@import "./components/carousel/Carousel.css";
@import "./components/news/CategoryBadge.css";
@import "./components/button/Button.css";
@import "./components/table/Table.css";
@import "./components/facebook/Comments.css";
@import "./components/form/Checkbox.css";
@import "./components/content/Content.css";

body, html {
    @apply font-kkfc;
}

::-moz-selection { @apply bg-yellow-200 }
::selection { @apply bg-yellow-200 }

*:focus, button:focus {
    outline: 3px solid #F7C948;
    outline-offset: 5px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}

#kkfc-background-logo {
    position: relative;
}

.logo-kkfc-in-background {
    opacity: 0.04;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    position: absolute;
    width: 20%;
    display: none;
}

@media (min-width: 1024px) { 
    .logo-kkfc-in-background {
        display: block;
    }
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }

h1 {
    @apply uppercase;
    @apply text-3xl;
    @apply text-gray-900;
    @apply font-semibold;
}