.news-category {
    @apply font-bold;
    @apply text-xs;
    @apply uppercase;
    @apply font-montserrat;
    @apply tracking-tight;
    @apply inline-block;
    @apply px-2;
    @apply py-1;
    @apply rounded;
    @apply bg-red-500;
    @apply text-white;
    @apply shadow;
}

/* ADD IN PURGEHACKBADGES.JS */
.news-category.a-kern:before, .news-category.a-kern {@apply bg-yellow-500;}
.news-category.algemeen:before, .news-category.algemeen {@apply bg-red-500;}
.news-category.jeugd:before, .news-category.jeugd {@apply bg-blue-500;}
.news-category.dames:before, .news-category.dames {@apply bg-orange-500;}
.news-category.evenementen:before, .news-category.evenementen {@apply bg-green-500;}
.news-category.position:before, .news-category.position {@apply bg-gray-500;}

.news-category:before {
    /* content: ''; */
    position: relative;
    display: inline-block;
    margin-right: 12px;
    width: 25px;
    height: 9px;
}
