input[type="checkbox"] + span {
    display:inline-block; /* or block */
    cursor:pointer;
    @apply rounded;
    @apply bg-gray-100;
    @apply border;
    @apply border-gray-200;
    @apply py-1;
    @apply px-2;
    @apply mx-2;
    @apply mb-2;
    @apply text-sm;
    @apply text-gray-400;
    @apply uppercase;
    @apply font-semibold;
  }

  input[type="checkbox"] {
      display: none;
  }

  /* hover event */
  input[type="checkbox"] + span:hover {
    @apply bg-gray-200;
    @apply border-gray-300;
  }
  
  /* checked checkbox */
  input[type="checkbox"]:checked + span {
    @apply bg-gray-400;
    @apply shadow; 
    @apply text-gray-111;
    @apply border-gray-500;
  }