.form__style input, 
.form__style select,
.form__style textarea {
    @apply appearance-none; 
    @apply block;
    @apply w-full;
    @apply bg-gray-111;
    @apply text-gray-700;
    @apply border;
    @apply border-gray-200;
    @apply rounded;
    @apply py-3;
    @apply px-4;
    @apply mb-2;
    @apply leading-tight;
}

.form__style textarea {
    @apply h-48;
}

.form__style input.error, 
.form__style select.error,
.form__style textarea.error {
    @apply border-red-500;
}

.form__style input:focus, 
.form__style select:focus,
.form__style textarea:focus {
    @apply outline-none;
    @apply bg-white;
}

.form__style label {
    @apply block;
    @apply uppercase;
    @apply tracking-wide;
    @apply text-gray-700;
    @apply text-base;
    @apply font-bold;
    @apply mb-2;
}

.form__style button[type="submit"]:disabled {
    @apply bg-gray-100;
    @apply text-gray-300;
    @apply cursor-wait;
}

.form__style .input-feedback {
    @apply text-red-500;
    @apply text-sm;
    @apply italic;
}

.form__style .input__fields > div {
    @apply mb-4;
}

@media (min-width: 1024px) {
    .form__style .input__fields > div {
        width: 47.5%;
    }
 }

 .form__style select {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
  }